<style>
  .form_agregar {
    margin-top: 20pt;
  }
</style>

<div class="form_agregar">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/alumnos/mostrar">Alumnos</a></li>
    <li class="breadcrumb-item active">Añadir alumno al sistema</li>
  </ol>
  <h1 class="display-4" style="text-align: center;">
    Añadir alumno al sistema.
  </h1>
  <form method="POST" action="/alumnos/crear">
    <div class="form-group">
      <label for="nc">Número de control:</label>
      <input type="text" name="nc" class="form-control" />
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label for="apellido">Apellido: </label>
      <input type="text" name="apellido" class="form-control" />
    </div>
    <div class="form-group">
      <label for="semestre">Semestre: </label>
      <input type="text" name="semestre" class="form-control" />
    </div>
    <div class="form-group">
      <label for="grupo">Grupo: </label>
      <input type="text" name="grupo" class="form-control" />
    </div>
    <div class="form-group">
      <label for="domicilio">Domicilio: </label>
      <input type="text" name="domicilio" class="form-control" />
    </div>
    <div class="form-group">
      <label for="fechaNac">Fecha de nacimiento: </label>
      <input type="text" name="fechaNac" class="form-control" />
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono: </label>
      <input type="text" name="telefono" class="form-control" />
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary" />
  </form>
</div>
