<style>
    .tabla-contenido{
        margin-top: 20pt;
    }
</style>
 

  <div class="tabla-contenido">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Número de control</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Semestre</th>
          <th>Grupo</th>
          <th>Domiclio</th>
          <th>Fecha de nacimiento</th>
          <th>Teléfono</th>
        </tr>
        <tbody>
            <tr>
            <% alumnos.forEach(function(alumno){ %>
                <td><%= alumno.id %></td>
                <td><%= alumno.nc %></td>
                <td><%= alumno.nombre %></td>
                <td><%= alumno.apellido %></td>
                <td><%= alumno.semestre %></td>
                <td><%= alumno.grupo %></td>
                <td><%= alumno.domicilio %></td>
                <td><%= alumno.fechaNac %></td>
                <td><%= alumno.telefono %></td>
            </tr>
           <% }) %>
      

        </tbody>
      </thead>
    </table>
  </div>
</div>
